---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="page-heading">
        <div class="cover">
          <div class="clock"></div>
          <div class='hours'></div>
          <div class='seconds'></div>
          <div class='minutes'></div>
          <div class="site-name">
            <!--
            <div class="site-name__inner">
              <div class="btn">Blog</div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="my-calendar clearfix">
    <div class="clicked-date">
      <div class="cal-day"></div>
      <div class="cal-date"></div>
    </div>
    <div class="calendar-box">
      <div class="ctr-box clearfix">
        <button type="button" title="prev" class="btn-cal prev">
        </button>
        <span class="cal-month"></span>
        <span class="cal-year"></span>
        <button type="button" title="next" class="btn-cal next">
        </button>
      </div>

      <table class="month-table">
      <thead>
        <tr>
          <th><button type="button" class="btn-cal selectMon">01
          </button></th>
          <th><button type="button" class="btn-cal selectMon">02
          </button></th>
          <th><button type="button" class="btn-cal selectMon">03
          </button></th>
          <th><button type="button" class="btn-cal selectMon">04
          </button></th>
          <th><button type="button" class="btn-cal selectMon">05
          </button></th>
          <th><button type="button" class="btn-cal selectMon">06
          </button></th>
          <th><button type="button" class="btn-cal selectMon">07
          </button></th>
          <th><button type="button" class="btn-cal selectMon">08
          </button></th>
          <th><button type="button" class="btn-cal selectMon">09
          </button></th>
          <th><button type="button" class="btn-cal selectMon">10
          </button></th>
          <th><button type="button" class="btn-cal selectMon">11
          </button></th>
          <th><button type="button" class="btn-cal selectMon">12
          </button></th>
        </tr>
      </thead>
      </table>

      <table class="cal-table">
        <thead>
          <tr>
            <th style="color:#a00000;">S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th style="color:#0000a0;">S</th>
          </tr>
        </thead>
        <tbody class="cal-body"></tbody>
      </table>
    </div>
  </div>
  <div class="clearboth"></div>

  <script>
      const init = {
        monList: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        dayList: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        today: new Date(),
        monForChange: new Date().getMonth(),
        activeDate: new Date(),
        getFirstDay: (yy, mm) => new Date(yy, mm, 1),
        getLastDay: (yy, mm) => new Date(yy, mm + 1, 0),
        nextMonth: function () {
          let d = new Date();
          d.setDate(1);
          d.setMonth(++this.monForChange);
          this.activeDate = d;
          return d;
        },
        prevMonth: function () {
          let d = new Date();
          d.setDate(1);
          d.setMonth(--this.monForChange);
          this.activeDate = d;
          return d;
        },
        selectMonth: function(n){
          let d = new Date();
          d.setDate(1);
          d.setMonth(n-1);
          this.activeDate = d;
          return d;
        },
        addZero: (num) => (num < 10) ? '0' + num : num,
        activeDTag: null,
        getIndex: function (node) {
          let index = 0;
          while (node = node.previousElementSibling) {
            index++;
          }
          return index;
        }
      };

      const $calBody = document.querySelector('.cal-body');
      const $btnNext = document.querySelector('.btn-cal.next');
      const $btnPrev = document.querySelector('.btn-cal.prev');
      const $btnMonth = document.querySelector('.month-table');

      /**
       * @param {number} date
       * @param {number} dayIn
      */
      function loadDate (date, dayIn) {
        document.querySelector('.cal-date').textContent = date;
        document.querySelector('.cal-day').textContent = init.dayList[dayIn];
      }

      /**
       * @param {date} fullDate
       */
      function loadYYMM (fullDate) {
        let yy = fullDate.getFullYear();
        let mm = fullDate.getMonth();
        let firstDay = init.getFirstDay(yy, mm);
        let lastDay = init.getLastDay(yy, mm);
        let markToday;  // for marking today date

        if (mm === init.today.getMonth() && yy === init.today.getFullYear()) {
          markToday = init.today.getDate();
        }

        document.querySelector('.cal-month').textContent = init.monList[mm];
        document.querySelector('.cal-year').textContent = yy;

        let trtd = '';
        let startCount;
        let countDay = 0;
        for (let i = 0; i < 6; i++) {
          trtd += '<tr>';
          for (let j = 0; j < 7; j++) {
            if (i === 0 && !startCount && j === firstDay.getDay()) {
              startCount = 1;
            }
            if (!startCount) {
              trtd += '<td>'
            } else {
              let fullDate = yy + '.' + init.addZero(mm + 1) + '.' + init.addZero(countDay + 1);
              trtd += '<td class="day';
              trtd += (markToday && markToday === countDay + 1) ? ' today" ' : '"';
              trtd += ` data-date="${countDay + 1}" data-fdate="${fullDate}">`;
            }
            trtd += (startCount) ? ++countDay : '';
            if (countDay === lastDay.getDate()) {
              startCount = 0;
            }
            trtd += '</td>';
          }
          trtd += '</tr>';
        }
        $calBody.innerHTML = trtd;
      }

      /**
       * @param {string} val
       */
      function createNewList (val) {
        let id = new Date().getTime() + '';
        let yy = init.activeDate.getFullYear();
        let mm = init.activeDate.getMonth() + 1;
        let dd = init.activeDate.getDate();
        const $targetMon = $.btn-cal.selectMon.querySelector();
        const $target = $calBody.querySelector(`.day[data-date="${dd}"]`);

        let date = yy + '.' + init.addZero(mm) + '.' + init.addZero(dd);

        let eventData = {};
        eventData['date'] = date;
        eventData['memo'] = val;
        eventData['complete'] = false;
        eventData['id'] = id;
        init.event.push(eventData);
        $todoList.appendChild(createLi(id, val, date));
      }

      loadYYMM(init.today);
      loadDate(init.today.getDate(), init.today.getDay());

      $btnNext.addEventListener('click', () => loadYYMM(init.nextMonth()));
      $btnPrev.addEventListener('click', () => loadYYMM(init.prevMonth()));
      $btnMonth.addEventListener('click',(e) => loadYYMM(init.selectMonth(Number(e.target.textContent))));

      $calBody.addEventListener('click', (e) => {
        if (e.target.classList.contains('day')) {
          if (init.activeDTag) {
            init.activeDTag.classList.remove('day-active');
          }
          let day = Number(e.target.textContent);
          loadDate(day, e.target.cellIndex);
          e.target.classList.add('day-active');
          init.activeDTag = e.target;
          init.activeDate.setDate(day);
          reloadTodo();
        }
      });

//clock 함수
    setInterval(function() {
      var seconds = new Date().getSeconds();
      var sdegree = seconds * 6 + 270;
      seconds = ("0" + seconds).slice(-2);
      var secondSel = document.querySelector(".seconds");

      secondSel.style.transform = "rotate(" + sdegree + "deg) translate(160px) rotate(-" + sdegree + "deg)";
      secondSel.innerHTML = seconds;

      var minutes = new Date().getMinutes();
      var mdegree = minutes * 6 + 270;
      var minutesSel = document.querySelector(".minutes");
      minutes = ("0" + minutes).slice(-2);

      minutesSel.style.transform = "rotate(" + mdegree + "deg) translate(181px) rotate(-" + mdegree + "deg)";
      minutesSel.innerHTML =  minutes;

      var hours = new Date().getHours();
      var hoursSel = document.querySelector(".hours");

      if (hours > 12) {
        hours = hours - 12;
      }

      hours = ("0" + hours).slice(-2);

      hoursSel.innerHTML = hours;
    }, 1000);

    var btnSel = document.querySelector('.btn');
    var header = document.getElementsByTagName('header')[0];

    btnSel.addEventListener("click", function() {
      header.scrollIntoView();
    }, false);


  </script>
