---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="page-heading">
        <div class="cover">
          <div class="clock"></div>
          <div class='hours'></div>
          <div class='seconds'></div>
          <div class='minutes'></div>
          <div class="site-name">
            <!--
            <div class="site-name__inner">
              <div class="btn">Blog</div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class='gcalendar'>
    <iframe src="https://calendar.google.com/calendar/embed?src=juyeonsg%40gmail.com&ctz=Asia%2FSeoul" style="border: 0;  padding-left: 10%;" width="80%" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class='gcalendar_mobile'>
    <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FSeoul&amp;src=anV5ZW9uc2dAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;mode=AGENDA" style="border:solid 1px #777" width="320" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="clearboth"></div>

  <script>

      /**
       * @param {string} val
       */
      function createNewList (val) {
        let id = new Date().getTime() + '';
        let yy = init.activeDate.getFullYear();
        let mm = init.activeDate.getMonth() + 1;
        let dd = init.activeDate.getDate();
        const $targetMon = $.btn-cal.selectMon.querySelector();
        const $target = $calBody.querySelector(`.day[data-date="${dd}"]`);

        let date = yy + '.' + init.addZero(mm) + '.' + init.addZero(dd);

        let eventData = {};
        eventData['date'] = date;
        eventData['memo'] = val;
        eventData['complete'] = false;
        eventData['id'] = id;
        init.event.push(eventData);
        $todoList.appendChild(createLi(id, val, date));
      }

      loadYYMM(init.today);
      loadDate(init.today.getDate(), init.today.getDay());

      $btnNext.addEventListener('click', () => loadYYMM(init.nextMonth()));
      $btnPrev.addEventListener('click', () => loadYYMM(init.prevMonth()));
      $btnMonth.addEventListener('click',(e) => loadYYMM(init.selectMonth(Number(e.target.textContent))));

      $calBody.addEventListener('click', (e) => {
        if (e.target.classList.contains('day')) {
          if (init.activeDTag) {
            init.activeDTag.classList.remove('day-active');
          }
          let day = Number(e.target.textContent);
          loadDate(day, e.target.cellIndex);
          e.target.classList.add('day-active');
          init.activeDTag = e.target;
          init.activeDate.setDate(day);
          reloadTodo();
        }
      });

//clock 함수
    setInterval(function() {
      var seconds = new Date().getSeconds();
      var sdegree = seconds * 6 + 270;
      seconds = ("0" + seconds).slice(-2);
      var secondSel = document.querySelector(".seconds");

      secondSel.style.transform = "rotate(" + sdegree + "deg) translate(160px) rotate(-" + sdegree + "deg)";
      secondSel.innerHTML = seconds;

      var minutes = new Date().getMinutes();
      var mdegree = minutes * 6 + 270;
      var minutesSel = document.querySelector(".minutes");
      minutes = ("0" + minutes).slice(-2);

      minutesSel.style.transform = "rotate(" + mdegree + "deg) translate(181px) rotate(-" + mdegree + "deg)";
      minutesSel.innerHTML =  minutes;

      var hours = new Date().getHours();
      var hoursSel = document.querySelector(".hours");

      if (hours > 12) {
        hours = hours - 12;
      }

      hours = ("0" + hours).slice(-2);

      hoursSel.innerHTML = hours;
    }, 1000);

    var btnSel = document.querySelector('.btn');
    var header = document.getElementsByTagName('header')[0];

    btnSel.addEventListener("click", function() {
      header.scrollIntoView();
    }, false);


  </script>
